body {
    background-color: black;

}
#first {
    color: white;
    font-family: sans-serif, Arial, Helvetica, Verdana;
    text-align: center;
    padding: 12px;
}
.information {
    background-color: #222222;
    color: white;
    font-family: sans-serif, Arial, Helvetica, Verdana;
    text-align: center;
    margin: 10px;
    padding: 40px;
    width: 300px;
    margin-right: auto;
    border-radius: 15px;
    border: 6px groove hsl(120, 71%, 70%);
    transition: background-color 0.6s, color 0.6s;
}
#CPU{
    position: absolute;
    right: 0;
    top: 100px;
}
#Motherboard{
    position: absolute;
    right: 0;
    top: 300px;
}
#AI{
     position: absolute;
    right: 0;
    top: 500px;
}
#Cybersecurity{
     position: absolute;
    right: 0;
    top: 500px;
}
#Bonus {
    color: white;
    font-family: sans-serif, Arial, Helvetica, Verdana;
    text-align: center;
    padding: 12px;
    font-size: 5em;
}
.information:hover{
  transition-duration: 0.6s;
  background-color: #343232;
  transform: scale(1.1);
}
#CloudComputing{
    border-color: aqua;
    background:linear-gradient(to right cyan, blue);
}